# Lab 1 – Python Fundamentals Review
Learning Objectives

By the end of this lab, you should be able to:

- Work confidently with Python data types and structures

- Use control flow to write basic programs

- Write reusable functions and simple classes

- Manipulate lists, dictionaries, and matrices

- Apply Python fundamentals in preparation for PyTorch

## Variables and Basic Data Types

In [1]:
# Integer
x = 10

# Float
y = 3.14

# String
name = "AIG 230"

# Boolean
is_fun = True

print(x, y, name, is_fun)

10 3.14 AIG 230 True

## Lists

In [2]:
numbers = [1, 2, 3, 4, 5]
words = ["nlp", "python", "pytorch"]

print(numbers)
print(words)

[1, 2, 3, 4, 5]
['nlp', 'python', 'pytorch']

### Common List Operations

In [3]:
numbers.append(6)
numbers.remove(3)

print(numbers)
print(numbers[0])      # first element
print(numbers[-1])     # last element

[1, 2, 4, 5, 6]
1
6

### Looping Through a List

In [4]:
for word in words:
    print(word.upper())

NLP
PYTHON
PYTORCH

In [26]:
# TODO
"""Create a list of 5 numbers and print their squares."""

square_list = [2,3,4,5,6]
for i in square_list:
    print(str(i) + ' : ' + str(i**2))

2 : 4
3 : 9
4 : 16
5 : 25
6 : 36

## Dictionaries

In [6]:
# Dictionaries store key–value pairs
student = {
    "name": "Jessica",
    "course": "AIG 230",
    "year": 2026
}

print(student)
print(student["course"])

{'name': 'Jessica', 'course': 'AIG 230', 'year': 2026}
AIG 230

### Modifying Dictionaries

In [7]:
student["grade"] = "A"
student["year"] = 2027

print(student)

{'name': 'Jessica', 'course': 'AIG 230', 'year': 2027, 'grade': 'A'}

### Looping Through a Dictionary

In [8]:
for key, value in student.items():
    print(key, ":", value)

name : Jessica
course : AIG 230
year : 2027
grade : A

In [13]:
# TODO
""" Create a dictionary describing the courses you are taking this semester
(keys: course_name, code, time, grade)."""

courses = [{
    "course_name": "Capstone Project",
    "code": "AIG 200",
    "time": "15 Jan 2025",
    "grade": 4
}, {
    "course_name": "Computer Vision",
    "code": "AIG 210",
    "time": "15 Jan 2025",
    "grade": 4
}, {
    "course_name": "Deep Learning",
    "code": "AIG 220",
    "time": "15 Jan 2025",
    "grade": 4
}, {
    "course_name": "Natural Language Processing",
    "code": "AIG 230",
    "time": "15 Jan 2025",
    "grade": 4
}, {
    "course_name": "Robotics",
    "code": "AIG 240",
    "time": "15 Jan 2025",
    "grade": 4
}, {
    "course_name": "Work Term Preparation",
    "code": "WTP 100",
    "time": "15 Jan 2025",
    "grade": 4
}]

i = 1
for course in courses:
    print("Course Name: ", course["course_name"], ", Code: ", course["code"], ", Time: ", course["time"], ", Grade: ", course["grade"])
    i += 1

Course Name:  Capstone Project , Code:  AIG 200 , Time:  15 Jan 2025 , Grade:  4
Course Name:  Computer Vision , Code:  AIG 210 , Time:  15 Jan 2025 , Grade:  4
Course Name:  Deep Learning , Code:  AIG 220 , Time:  15 Jan 2025 , Grade:  4
Course Name:  Natural Language Processing , Code:  AIG 230 , Time:  15 Jan 2025 , Grade:  4
Course Name:  Robotics , Code:  AIG 240 , Time:  15 Jan 2025 , Grade:  4
Course Name:  Work Term Preparation , Code:  WTP 100 , Time:  15 Jan 2025 , Grade:  4

# Matrices and Nested Lists

In [10]:
# In Python, matrices are often represented as lists of lists.
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix)
print(matrix[0])
print(matrix[1][2])  # row 2, column 3

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
6

### Looping Through a Matrix

In [11]:
for row in matrix:
    for value in row:
        print(value, end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [9]:
# TODO
""" Create a 2×3 matrix and print all values."""

matrix = [
    [1, 2, 3],
    [4, 5, 6]
]

print(matrix)

[[1, 2, 3], [4, 5, 6]]

# Basic Operations

In [13]:
a = 10
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)  # exponentiation

13
7
30
3.3333333333333335
1000

### Operations on Lists

In [14]:
nums = [1, 2, 3]
nums_times_two = [n * 2 for n in nums]

print(nums_times_two)

[2, 4, 6]

# Conditional Statements (if / elif / else)

In [15]:
score = 85

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
else:
    grade = "C"

print("Grade:", grade)

Grade: B

# For Loops

In [16]:
for i in range(5):
    print("Iteration:", i)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4

### Loop with Condition

In [17]:
for num in range(10):
    if num % 2 == 0:
        print(num, "is even")

0 is even
2 is even
4 is even
6 is even
8 is even

# Functions

In [18]:
# Functions help you reuse code.

def greet(name):
    return f"Hello, {name}!"

print(greet("AIG 230"))

Hello, AIG 230!

In [19]:
# Function with Multiple Arguments

def add(a, b):
    return a + b

result = add(3, 5)
print(result)

8

In [11]:
# TODO
""" Write a function that returns the square of a number"""

def give_me_square_of(a):
    return a**2

print(give_me_square_of(10))
print(give_me_square_of(5))

100
25

# Classes and Objects

In [21]:
# Classes allow you to model real-world objects.
class Student:
    def __init__(self, name, course):
        self.name = name
        self.course = course

    def introduce(self):
        return f"My name is {self.name} and I am enrolled in {self.course}"

In [22]:
student1 = Student("Jessica", "AIG 230")
print(student1.introduce())

My name is Jessica and I am enrolled in AIG 230

# Putting It All Together

In [14]:
# TODO
""" Create a class called courses_winter 2026
with attributes course_name, code, time, grade and a method to display course info."""

class courses_winter_2026:
    def __init__(self, course_name, code, time, grade):
        self.course_name = course_name
        self.code = code
        self.time = time
        self.grade = grade

    def display_course_info(self):
        print(f"Course Name: {self.course_name}, Course Code: {self.code}, Time: {self.time}, Grade: {self.grade}")


course = courses_winter_2026(
    "Natural Language Processing",
    "AIG 230",
    "15 Jan 2025",
    "4"
)

course.display_course_info()

Course Name: Natural Language Processing, Course Code: AIG 230, Time: 15 Jan 2025, Grade: 4

In [24]:
# TODO
""" Create three instances of the courses_winter 2026 class and display their info."""

courseOne = courses_winter_2026(
    "Natural Language Processing",
    "AIG 230",
    "15 Jan 2025",
    "4"
)

courseTwo = courses_winter_2026(
    "Capstone Project",
    "AIG 200",
    "15 Jan 2025",
    "4"
)

courseThree = courses_winter_2026(
    "Robotics",
    "AIG 240",
    "15 Jan 2025",
    "4"
)

courseOne.display_course_info()
print()
courseOne.display_course_info()
print()
courseOne.display_course_info()

' Create three instances of the courses_winter 2026 class and display their info.'